// File path
.file_path {
  border: 1px solid $paperDark;
  background-color: $paper;
  font-size: 14px;
  padding: 5px 10px 2px 10px;
  color: $ironDark;
  margin-bottom: -15px;
}

// Close button
.close-button {
  margin-right: 25px ! important;
  background: 0 0 ! important;
}

.close-icon {
  color: #9E3D54 ! important;
  opacity: 0.6 ! important;
  filter: alpha(opacity=60) ! important;
}

.close-icon-hover {
  color: #9E3D54 ! important;
  opacity: 1 ! important;
  filter: alpha(opacity=60) ! important;
}

// Tags
.post-tag {
  font-family: $bodyFont;
  font-size: 12px !important;
  font-weight: 400 !important;
  color: white !important;
  background-color: $iron !important;
  padding: 4px 10px 2px 10px !important;
  margin-top: 3px !important;
  margin-bottom: 3px !important;
  &:hover {
    background-color: $ironDark !important;
  }
}

.post-tag-selected {
  font-family: $bodyFont;
  font-size: 12px !important;
  font-weight: 400 !important;
  color: white !important;
  background-color: $theme !important;
  padding: 4px 10px 2px 10px !important;
  margin-top: 3px !important;
  margin-bottom: 3px !important;
  &:hover {
    background-color: $themeDark !important;
  }
}

.icon-social {
  color: $iron !important;
  &:hover {
    color: $ironDark !important;
  }
}

.twitter-share {
  color: $ironLight;
  font-family: $headingFont;
  .twitter-text {
    color: $ironLight;
    font-size: 1.6rem;
    &:hover {
      color: $themeDark;
    }
  }
  .twitter-button {
    color: $ironLight;
    font-size: 1.2rem;
    &:hover {
      color: $ironDark;
    }
  }
}

.prev-next-link .column {
  div {
    color: $iron;
    font-family: $headingFont;
    &:hover {
      color: $ironDark;
    }
  }

  a {
    color: $ironLight;
    &:hover {
      color: $themeDark;
    }
  }
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  border:2px solid $theme;

  th{
    border:2px solid $themeDark;
  }

  td{
    border:1px solid $themeDark;
  }
}

