<div class="ui container mobile-design">

  <div class="row">

    <div class="home-sidebar">
      <h2 class="site-title"><a href="{{ site.baseurl }}/index?tag=all"> iacobson.net </a></h2>
      <p class="site-motto"> a journey on rails </p>
      <div class="ui divider"></div>
        {% include social_icons.html %}
      <div class="ui divider"></div>

    </div>
  </div>
  <div class="ui section divider hidden"></div>

  <div class="row posts">
    {% for post in site.posts %}
      {% include post_list.html %}
    {% endfor %}
  </div>
</div>
