---
layout: default
---


<a class="ui sticky right floated icon button circular massive basic close-button" href="{{ site.url }}">
  <i class="large remove icon close-icon"></i>
</a>


<div class="pusher" id="post-content">
  <div class="ui justified text container">
    <div class="ui section hidden divider"></div>
    <div class="row">
      <h1>{{ page.title }}</h1>
      <i class="date">
        {{ page.date | date: "%B %e, %Y" }}
      </i>
      <div class="ui hidden divider"></div>
      <div>
        {% for tag in page.tags %}
          <a class="ui tiny label post-tag"
          href="{{ site.baseurl }}/index?tag={{ tag | replace: " ", "-" }}">
            {{ tag }}
            <div class="detail"> {{ site.tags[tag].size }} </div>
          </a>
        {% endfor %}
      </div>
    </div>

    <div class="ui section divider"></div>

    <div class="row">
      <div class="post-body">
        {{ content }}
      </div>
    </div>
    <div class="ui section divider"></div>
    <div class="twitter-share">
      <small>
        Find this article useful? Tweet it to the world!
      </small>
      <br>
      <br>
      <i class="quote left icon big"></i>
      <a class="twitter-text" href='https://twitter.com/intent/tweet?text="{{ page.tweet }}" &url={{ site.url }}{{ page.url }}' target="blank">
        <i>{{ page.tweet }}</i>
      </a>
      <br>
      <a href='https://twitter.com/intent/tweet?text="{{ page.tweet }}" &url={{ site.url }}{{ page.url }}' target="blank">
        <div class="twitter-button ui right aligned container">
          click to <i class="fitted twitter icon"></i>
        </div>
      </a>
    </div>
    <div class="ui section divider"></div>
    {% include disqus.html %}
  </div>
</div>
